* {
    margin :0px;
    padding:0px;
    /* text-align: center; */
    font-family: 'Oswald', sans-serif;
    font-family: 'Kanit', sans-serif;
    /* font-size: 30px; */
   
}
/* rgba(62, 237, 230, 255) */
body{
    border: 2px solid blue;
    /* background-color: black; */
    background-color: bisque;
}
.container{
    /* border:2px solid red; */
   
}
.description{
    text-align: center;
    border: 2px solid green;
    color: white;
    margin:20px 0px;
    padding :10px 0px;
    height: 40vh;
    font-size: 25px;
    /* line-height: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container{
    border:2px solid yellow;
    /* margin:20px;
    padding:20px; */
}
.item{
    border-radius: 50px;
    font-size:20px;
    border: none;
    display: inline-block;
}
input ,label{
    margin:5px;
    padding:5px;
  
}
label{
color: whitesmoke;
}


#row1, #row2, #row3{
    display: flex;
 align-items: center;
justify-content: center;}


#img11{
display: none;
}


.div_startGame{
  /* margin:30px 0px; */
    display: flex;
justify-content: center;}


.StartGame{
padding: 10px;
border-radius: 20px;
}


.div_startGame{
height: 10%;
}
.StartGame:hover 
{    background-color:greenyellow;}
.Player1{
    border: 2px solid red;
}
.Player2 {
    border: 2px solid red;
}
.introOfPlayer
{
    display: flex;
    flex-direction: row;
    /* margin:30px 0px; */
    border: 2px solid red;
  }
  .label_section{display: flex;
flex-direction: column;
}
.section1{
    border:2px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}  
.inputSection{
display: flex;
flex-direction: column;
}
input{
    height: 100%;
}
  

  .section2 {
      border: 2px solid red;
  }
.section12 {
    border: 2px solid blue;
    height: 60vh;
}
@media (min-width:100px) and (max-width:500px) {
  .introOfPlayer{
    display: none;
  }
  .inputSection{
    display: none;
  }
  .description {
    /* font-size: 15px; */
  }

}





